/* Damos los estilos al main */
.astronomical-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  padding: 25px 0;
  gap: 25px;
}

/* Centramos la imagen por defecto cuando aparece un video */
.astronomical-video {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.astronomical-image {
  /* A la imagen le damos unos máximos para que pueda crecer pero no se coma todo el espacio */
  /* Las imágenes tienen diferentes tamaños y con esto permitimos que se adapten */
  max-width: 60%;
  max-height: 50vh;
  border-radius: 8px;
}

.astronomical-info {
  /* Damos forma a la distribución de la info */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  gap: 10px;
  color: var(--ns__color--blue);
  /* Al texto le damos unos máximos para que pueda crecer pero no se coma todo el espacio */
  max-width: 60%;
  max-height: 50vh;
}

/* Englobamos y diseñamos el título de la imagen y la fecha para una mejor distribución */
.astronomical-titleDate {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Damos los estilos para el input tipo date */
#date {
  margin-top: 7px;
  padding: 2px 4px;
  line-height: normal;
  /* Asignamos una fuente más apropiada para el date */
  font-family: monospace;
  font-size: large;
  color: var(--ns__color--white);
  background-color: var(--ns__color--blue);
  border-radius: 8px;
  /* Quitamos el borde por defecto del date */
  border: 2px solid var(--ns__color--blue);
}

.astronomical-text {
  /* Para que no se pierda la información */
  overflow: auto;
  /* Con este padding damos hueco a la barra de scroll */
  padding-right: 15px;
}

/* Damos los estilos al espacio de Copyright */
.astronomical-copyright {
  width: fit-content;
  padding: 5px 10px;
  border: 3px solid var(--ns__color--blue);
  border-radius: 16px;
  font-style: italic;
  font-weight: 400;
}

/* TABLET DISPLAY */
@media screen and (min-width: 425px) and (max-width: 768px) {
  .astronomical-div {
    /* Damos la propiedad wrap para que vayan saltando los elementos */
    flex-wrap: wrap;
  }

  .astronomical-image {
    /* Al declarar este max hacemos que la imagen crezca hasta su máximo sin alterar su escala */
    max-width: 100%;
  }

  .astronomical-info {
    align-items: center;
    justify-content: space-around;
    /* Quitamos la limitación anterior */
    max-width: none;
    /* Damos esta medida para que no se quede tan pequeño el espacio del texto */
    max-height: 700px;
  }

  .astronomical-titleDate {
    /* En este caso cambiamos la dirección para centrar los elementos */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .astronomical-text {
    /* Priorizamos la altura del texto al máximo */
    height: max-content;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 425px) {
  .astronomical-div {
    /* Damos la propiedad wrap para que vayan saltando los elementos */
    flex-wrap: wrap;
  }

  .astronomical-image {
    /* Al declarar este max hacemos que la imagen crezca hasta su máximo sin alterar su escala */
    max-width: 100%;
  }

  .astronomical-info {
    align-items: center;
    justify-content: space-around;
    /* Quitamos la limitación anterior */
    max-width: none;
    /* Damos esta medida para que no se quede tan pequeño el espacio del texto */
    max-height: 700px;
  }

  .astronomical-titleDate {
    /* En este caso cambiamos la dirección para centrar los elementos */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .astronomical-text {
    /* Priorizamos la altura del texto al máximo */
    height: max-content;
  }
}
