/* Damos formato al espacio de error */
.error, .loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 200px;
  gap: 20px;
}

/* Dejamos estilizada la imagen fija de error */
.error img, .loading img {
  max-height: 25vh;
}
