/* Aplicamos los estilos y el tamaño a la navbar */
.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.nasaLogo {
  align-items: center;
  height: 130px;
  /* Reducimos el tamaño del logo para que sea presentable con este padding */
  padding: 10px 0 10px 0;
}

/* Damos forma al botón para que se vea como queremos, en este caso la línea de desplazamiento */
.toggle {
  display: block;
  width: 100px;
  height: 40px;
  background-color: var(--ns__color--blue);
  border: 2px white;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 5px 5px 16px #0e3d914d;
}

#toggleButton {
  /* Desaparecemos el toggle */
  display: none;
}

.slider {
  /* Fijamos la posición del slider al botón */
  display: block;
  position: relative;
  transition: all 0.25s ease-in;
}

/* Damos el efecto y diseños del toggle en su posición inicial, mostrando ASTRONOMICAL */
.slider::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -25px;
  width: 75px;
  height: 75px;
  background: var(--ns__color--white) no-repeat center/70%
    url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1679560050/NASA/saturno-lineal_a8jap8.png);
  border: 6px solid var(--ns__color--blue);
  border-radius: 50%;
  transition: all 0.25s ease-in;
}

/* Damos el efecto de transición y los diseños del toggle en su otra posición, mostrando ROVER */
#toggleButton:checked + .slider::after {
  content: '';
  background: var(--ns__color--white) no-repeat center/70%
    url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1679583367/NASA/rover-lineal_h5tb1d.png);
  transform: translateX(75px) rotate(360deg);
}

/* TABLET DISPLAY */
@media screen and (min-width: 425px) and (max-width: 768px) {
  /* Cambiamos la disposición de los elementos en otras medias queries */
  .header {
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }

  .categoryInfo {
    /* Cambiamos el orden de los elementos para ver pareados el logo y el toggle */
    order: 2;
    /* Metemos esta flex-basis para obligar a que el item salte de linea */
    flex-basis: 450px;
  }

  .nasaLogo {
    /* Reducimos el tamaño del logo para asemejarlo al toggle */
    height: 120px;
  }

}

/* MOBILE DISPLAY */
@media screen and (max-width: 425px) {
/* Cambiamos la disposición de los elementos en otras medias queries */
  .header {
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }

  .toggle {
    /* Asignamos un margen específico al toggle para mejorar la visualización */
    margin: 30px 0;
  }
}