footer {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10%;
  gap: 20px;
  margin: 10px 0;
}

/* Estilos  */
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: var(--ns__color--blue);
  border-radius: 32px;
  /* transition: transform 2s ease-in; */
}

/* Estilamos los iconos de contacto del footer */
.contact a {
  width: 15%;
  background-color: var(--ns__color--white);
  border: 5px solid var(--ns__color--white);
  border-radius: 100%;
  transition: all 0.25s ease-in;
}

.contact :hover {
  transform: scale(1.1);
}

/* Damos estilos a este círculo que hemos creado para que sea más visual el footer */
.circleDecoration {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--ns__color--white);
}

/* TABLET DISPLAY */
@media screen and (min-width: 375px) and (max-width: 768px) {
  /* Centramos el footer para que quede más vistosa la página */
  footer {
    justify-content: center;
  }

  /* Eliminamos el círculo para que quede más vistosa la página */
  .circleDecoration {
    display: none;
  }
}

/* MOBILE DISPLAY */
@media screen and (max-width: 375px) {
  /* Centramos el footer para que quede más vistosa la página */
  footer {
    justify-content: center;
  }

  /* Eliminamos el círculo para que quede más vistosa la página */
  .circleDecoration {
    display: none;
  }
}
