/* Aplicamos estilos al root */
#root {
  display: flex;
  text-align: center;
  place-content: center;
  /* Limitamos el tamaño para apreciar el fondo */
  width: 100%;
  height: 95vh;
  margin: 0 auto;
  padding: 2rem;
}

/* Aplicamos estilos a la App para hacer el efecto pantalla de cristal */
#App {
  min-width: 95%;
  -webkit-backdrop-filter: blur(6.2px);
  backdrop-filter: blur(6.2px);
  background: #f7f7f788;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

/* Aplicamos los estilos y el tamaño a la navbar */
#navBar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  color: var(--ns__color--blue);
  padding: 0 40px;
  height: 20%;
}

/* Damos el mismo heigth al logo que el width del toggle para centrar todos los articles */
#nasaLogo {
  align-items: center;
  height: 130px;
  /* Reducimos el tamaño del logo para que sea presentable con este padding */
  padding: 10px 0 10px 0;
}

/* Damos los estilos para el input tipo date */
#date {
  margin-top: 7px;
  padding: 2px 4px;
  gap: 5px;
  line-height: normal;
  font-family: monospace;
  font-size: large;
  color: var(--ns__color--white);
  background-color: var(--ns__color--blue);
  border-radius: 8px;
  border: 2px solid var(--ns__color--blue);
  cursor: text;
}

/* Ponemos el display del texto rover oculto por defecto */
#rover {
  display: none;
}

/* Damos forma al botón para que se vea como queremos, en este caso la línea de desplazamiento */
.button {
  display: block;
  width: 130px;
  height: 40px;
  background-color: var(--ns__color--blue);
  border-radius: 30px;
  cursor: pointer;
  padding: 0;
}

/* Desaparecemos el toggle */
#toggle {
  display: none;
}

/* Fijamos la posición del slider al botón */
.slider {
  display: block;
  position: relative;
}

/* Damos el efecto y diseños del toggle en su posición inicial */
.slider::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 75px;
  height: 75px;
  background: var(--ns__color--white) no-repeat center/70%
    url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1679560050/NASA/saturno-lineal_a8jap8.png);
  border: 10px solid var(--ns__color--blue);
  border-radius: 50%;
  transition: transform 0.25s ease-in;
}

/* Damos el efecto y diseños del toggle en su otra posición */
#toggle:checked + .slider::after {
  content: '';
  background: var(--ns__color--white) no-repeat center/70%
    url(https://res.cloudinary.com/dwsffp1eq/image/upload/v1679583367/NASA/rover-lineal_h5tb1d.png);
  transform: translateX(75px) rotate(360deg);
}

#main {
  display: flex;
  padding: 20px 40px;
  height: 70%;
  gap: 30px;
}

/* Damos un borde a la img para mejorar su visualización */
/* Ver como reducir tamaño */
#image {
  /* height: 100%; */
  border-radius: 8px;
}

/* Gracias a flex distribuimos correctamente el texto */
#infoImage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  gap: 10px;
  color: var(--ns__color--blue);
}

#details {
  overflow: auto;
}

/* Damos los estilos al espacio de Copyright */
#copyright {
  width: fit-content;
  padding: 5px 10px;
  border: 3px solid var(--ns__color--blue);
  border-radius: 16px;
  font-style: italic;
  font-weight: 400;
}

#footer {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10%;
  padding: 0 40px;
  gap: 20px;
  /* border-end-end-radius: 16px; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  /* background-color: var(--ns__color--blue); */
}

#contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: var(--ns__color--blue);
  border-radius: 32px;
}

#contact a {
  height: fit-content;
  width: 15%;
  border: 5px solid var(--ns__color--white);
  border-radius: 100%;
  background-color: var(--ns__color--white);
}

#circle {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: var(--ns__color--red);
}