/* Aplicamos estilos al root */
#root {
  display: flex;
  text-align: center;
  place-content: center;
  /* Limitamos el tamaño para apreciar el fondo */
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

/* Aplicamos estilos a la App para hacer el efecto pantalla de cristal */
#App {
  min-width: 95%;
  -webkit-backdrop-filter: blur(px);
  padding: 20px 40px;
  background-color: var(--ns__color--white--blur);
  backdrop-filter: blur(4px);
  border-radius: 16px;
}

/* Damos los estilos al main */
#main {
  display: flex;
  padding: 25px 0;
  height: 70%;
  gap: 30px;
}

/* Damos un borde a la img para mejorar su visualización */
/* Ver como reducir tamaño */
#image {
  border-radius: 8px;
  /* Con esto adapatamos la imagen segun reduzca el tamaño disponible */
  max-width: 50%;
}

/* Gracias a flex distribuimos correctamente el texto */
#infoImage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  gap: 10px;
  color: var(--ns__color--blue);
}

/* Para que no se pierda la información */
#details {
  overflow: auto;
  padding-right: 15px;
}

/* Damos los estilos al espacio de Copyright */
#copyright {
  width: fit-content;
  padding: 5px 10px;
  border: 3px solid var(--ns__color--blue);
  border-radius: 16px;
  font-style: italic;
  font-weight: 400;
}